body {
  font-family: 'Open Sans', sans-serif;
}

img.logo {
  width: 100px;
  height: 100px;
}

.experienceList {
}

.sectionHeader {
  display: inline-block;
  width: 200px;
}

.entrySection {
  padding-bottom: 20px;
  border-bottom: 3px solid darkgrey;
	max-width: 1000px;
}

.sectionHeader p.company {
  font-size: 14px;
  color: grey;
}

.sectionHeader p.schoolName {
  font-size: 14px;
  color: grey;
}

.entrySection ul {
  display: inline-block;
  max-width: 700px;
  vertical-align: top;
	padding-left: 15px;
}


.entrySection ul li {
	margin: 10px 0;
}

.navHeader {
	transition: top 0.2s ease-in-out;	
  position: fixed;
  top: 0px;
	left: 0px;
  width: 100%;
  background-color: white;
  box-shadow: 0 6px 4px -4px grey;
	padding-left: 10px;
}

.entryMaster {
  padding-top: 100px;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

.navUp {
	top: -100px !important;
}

.fillerDiv {
  clear: both;
}

.sectionHeader p.jobTitle {
  font-size: 16px;
}

.sectionHeader p.degreeName {
  font-size: 16px;
}

.personName {
	display: inline-block;
}

.resumeNav a {
	text-decoration: none;
	margin-right: 20px;	
}

.resumeNav {
	display: inline-block;
	margin-left: 20px;
}

.navImg {
	display: inline-block;
	margin-right: 15px;

}

.tagsSection {
	display: block;
	vertical-align: top;
}

.tagsSection span {
	display: inline-block;
	background: #ECECEC;
  margin: 10px 10px 0px 0px;
	padding: 0 10px;
	border: 1px solid #AAA;
	border-radius: 7px;
}

.date {
	font-size: 12px;
}

.footer {
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	max-width: 1000px;
}

.footer ul {
  display: inline-block;
  margin-top: 0px;
}

.footer ul li {
  display: inline-block;
  margin-right: 10px;
}

.footer a {
  text-decoration: none;
}

.educationColumn {
	display: inline-block;
	max-width: 700px;
	vertical-align: top;
}

.educationColumn p {
	font-size: 18px;
}

.classSection ul {
	margin-top: 0px;
	margin-left: 20px;
	padding-top: 0px;
	margin-bottom: 0px;
}

.classSection h4 {
	margin-bottom: 0px;
	padding-bottom: 0px;
}

.classesList {
	margin-left: 15px;
}

